---
# tasks file for net-tools-networking

- name: Configure network interface
  become: true
  template:
    src: iface.j2
    dest: "/etc/network/interfaces.d/{{ item.interface }}.iface"
    owner: root
    group: root
    mode: 0644
  with_items: "{{ interfaces }}"
#  notify: restart networking

- name: Configure network interface
  become: true
  shell: "ip a flush dev {{ item }}"
  with_items: "{{ interfaces }}"

- name: Configure network interface
  become: true
  service:
    name: networking
    state: restarted

