---
# tasks file for net-tools-networking

- name: Gather installed package information
  package_facts:

- name: Install ifupdown
  become: true
  apt:
    update_cache: true
    name: ifupdown
    state: present
    when: "ifupdown" not in ansible_facts.packages

- name: Source interfaces.d
  become: true
  lineinfile:
    path: /etc/network/interfaces
    regexp: 'source /etc/network/interfaces.d/*'
    line: 'source /etc/network/interfaces.d/*'
    state: present
    backup: true

- name: Enable and unmask networking service
  become: true
  systemd:
    masked: no
    enabled: yes
    state: restarted

- name: Create network interface configuration
  become: true
  template:
    src: iface.j2
    dest: "/etc/network/interfaces.d/{{ item.interface }}.iface"
    owner: root
    group: root
    mode: 0644
  with_items: "{{ interfaces }}"
#  notify: restart networking

- name: Restart network
  become: true
  service:
    name: networking
    state: restarted
  when: ansible_distribution == 'Ubuntu' and ansible_distribution_release == 'xenial'

- name: Restart network
  become: true
  service:
    name: "{{ item }}"
    state: restarted
  with_items:
    - systemd-networkd
    - systemd-resolved
    - networking
  when: ansible_distribution == 'Ubuntu' and ansible_distribution_release == 'bionic'

- name: Remove network addresses
  become: true
  shell: "ip a flush {{ item.interface }}"
  with_items: "{{ interfaces }}"

- name: Restart network
  become: true
  service:
    name: networking
    state: restarted
  when: ansible_distribution == 'Ubuntu' and ansible_distribution_release == 'xenial'

- name: Restart network
  become: true
  service:
    name: "{{ item }}"
    state: restarted
  with_items:
    - systemd-networkd
    - systemd-resolved
    - networking
  when: ansible_distribution == 'Ubuntu' and ansible_distribution_release == 'bionic'
