---
# tasks file for net-tools-networking

- name: Install ifupdown
  become: true
  apt:
    update_cache: true
    name: ifupdown
    state: present

- name: Configure network interface
  become: true
  template:
    src: iface.j2
    dest: "/etc/network/interfaces.d/{{ item.interface }}.iface"
    owner: root
    group: root
    mode: 0644
  with_items: "{{ interfaces }}"
#  notify: restart networking

- name: Flush network address
  become: true
  shell: "ip a flush {{ item.interface }}"
  with_items: "{{ interfaces }}"

- name: Configure network interface
  become: true
  service:
    name: networking
    state: restarted
