---
# tasks file for net-tools-networking

#- name: Install ifupdown
#  become: true
#  apt:
#    update_cache: true
#    name: ifupdown
#    state: present
#
#- name: Gather installed package information
#  package_facts:
#    manager: apt
#
#- name: Ensure ifupdown is installed (cannot install now as network might not be up)
#  fail:
#    msg: "Package ifupdown not installed. Please install it or consider using netplan."
#    when: '{{ ansible_distribution_release }} == "bionic" and "ifupdown" not in ansible_facts.packages'

- name: Create network interface configuration
  become: true
  template:
    src: iface.j2
    dest: "/etc/network/interfaces.d/{{ item.interface }}.iface"
    owner: root
    group: root
    mode: 0644
  with_items: "{{ interfaces }}"
#  notify: restart networking

#- name: Restart network
#  become: true
#  service:
#    name: networking
#    state: restarted
#  when: ansible_distribution == 'Ubuntu' and ansible_distribution_release == 'xenial'

#- name: Restart network
#  become: true
#  service:
#    name: "{{ item }}"
#    state: restarted
#  with_items:
#    - systemd-networkd
#    - systemd-resolved
#    - networking
#  when: ansible_distribution == 'Ubuntu' and ansible_distribution_release == 'bionic'

- name: Remove network addresses
  become: true
  shell: "ip a flush {{ item.interface }}"
  with_items: "{{ interfaces }}"

- name: Restart network
  become: true
  service:
    name: networking
    state: restarted
  when: ansible_distribution == 'Ubuntu' and ansible_distribution_release == 'xenial'

- name: Restart network
  become: true
  service:
    name: "{{ item }}"
    state: restarted
  with_items:
    - systemd-networkd
    - systemd-resolved
    - networking
  when: ansible_distribution == 'Ubuntu' and ansible_distribution_release == 'bionic'
